<p>Adde something new</p>

<form method="POST" action="/resources">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" name="name" placeholder="Name (will be the urls title if left blank)">
  </div>
  <div class="form-group">
    <label for="urlInput">Url</label>
    <input type="text" class="form-control" id="urlInput" name="url" placeholder="Url">
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <input type="text" class="form-control" id="descriptionInput" name="description" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="fieldInput">Field</label>
    <input type="text" class="form-control" id="fieldInput" name="field" placeholder="Field">
  </div>
  <div class="form-group">
      <input type="radio" name="type" value="article">article</input>
      <input type="radio" name="type" value="video">video</input>
      <input type="radio" name="type" value="website">website</input>
      <input type="radio" name="type" value="blog">blog</input>
      <input type="radio" name="type" value="song">song</input>
      <input type="radio" name="type" value="podcast">podcast</input>
  </div>
  <div class="form-group">
      <input type="checkbox" name="tags[]" value="funny">funny</input>
      <input type="checkbox" name="tags[]" value="informative">informative</input>
      <input type="checkbox" name="tags[]" value="productive">productive</input>
      <input type="checkbox" name="tags[]" value="sad">sad</input>
      <input type="checkbox" name="tags[]" value="deep">deep</input>
      <input type="checkbox" name="tags[]" value="serious">serious</input>
      <input type="checkbox" name="tags[]" value="banal">banal</input>
  </div>
  <button type="submit" id="submitBtn" class="btn btn-default">Submit</button>
</form>
